@charset "utf-8";

body{
    background: url("img/patron2.jpg") top  /210px repeat-x,
    rgb(212, 212, 203)
}
header{
    text-align: center;
 
      
}
header p{

    font-size: 5rem;
 
    text-shadow: lightblue 6px 0;
}


table.menu {
    margin:auto;
    text-align: center;
    width: 50%;  

    font-size: 1.5rem;
}

table.menu td {

    background-color: rgb(167, 188, 255);
  }


table.menu td:hover {
    background-color: black;
  }
  a.menu:hover{
    color: white;
  }
  p.noticias{
      position: absolute;
      left: 30%;
      right: 30%;
      padding: 12px;
      text-align: justify;
      width: 40%;
      background-color: white;
      border-radius: 15%;

  }
  a.talleres{
      text-decoration: none;
  }
  article p.ubicacion{
      font-size: 2rem;
  }
  span{
      font-size: 2rem
  }
  img.taller{
      width: 300px;
      height: 300px;
  }

img.ubicacion{
    width: 250px;
    border: black 5px solid;
}

  footer{
      position: fixed;
      bottom: 0%;
      width: 100%;
      text-align: left;
  }
  footer p {
      text-align: center;
  }
  img.facebook{
    width: 25px;
  }
  img.twitter{
    width: 25px;
  }
  img.instagram{
      width: 25px;
  }